<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Erfan Niketeghad Todo App</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <h1>ToDos</h1>
    <ul>
        {% for todo in todos %}
            <li>
                <input type="checkbox" name="done" {% if todo.done %} checked {% endif %} disabled>
                <span {% if todo.done %} style="text-decoration: line-through" {% endif %}>{{ todo.task }}</span>
                <!-- Link to edit page -->
                <a href="{{ url_for('main.edit', todo_id=todo.id) }}">Edit</a>
                <!-- Link to mark as done -->
                <a href="{{ url_for('main.done', todo_id=todo.id) }}">Done</a>
                <!-- Link to delete -->
                <a href="{{ url_for('main.delete', todo_id=todo.id) }}">Delete</a>
            </li>
        {% endfor %}
    </ul>
    <!-- Add Todo Form -->
    <form action="{{ url_for('main.add') }}" method="post">
        <input type="text" name="todo">
        <button type="submit">Add Todo</button>
    </form>

</body>
</html>
